.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 30px;

  @include vp-992 {
    padding: 80px 26px;
  }

  @include vp-768 {
    padding: 60px 24px;
  }

  @include vp-576 {
    padding: 50px 15px;
  }
}
