@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Noto Sans";

  font-display: swap;
  src: url("../fonts/noto-sans-regular.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Noto Sans";

  font-display: swap;
  src: url("../fonts/noto-sans-bold.woff2") format("woff2");
}
